<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Hello Spring Boot</title>
</head>
<body>
<h1>Hello world!</h1>
<h2 th:text="${#dates.createNow()}">Date</h2>
</body>
</html>